
<table>
  <tr>
    <th>Name</th>
    <th>Leader Name</th>
    <th>Leader Email</th>
    <th>Departure</th>
    <th>Return</th>
    <th>Destination</th>
    <th>Trip Cost</th>
  </tr>
  <% for team in @teams %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.leader_name %></td>
      <td><%= team.leader_email %></td>
      <td><%= team.departure %></td>
      <td><%= team.return %></td>
      <td><%= team.destination %></td>
      <td><%= team.trip_cost %></td>
      <td><%= link_to "Show", team %></td>
      <td><%= link_to "Edit", edit_team_path(team) %></td>
      <td><%= link_to "Destroy", team, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Team", new_team_path %></p>
