<div class="team-hidden-container">
	<div class="team-hidden">
		<div class="team-hidden-left">
			<h3>MyGreatApp</h3>
		</div>
		<div class="team-hidden-right">
			<p>Aaron Johnson</p>
		</div>
	</div>
</div>

<div class="team-header-container">
	<div class="team-header">
		<div class="team-name">
			<h1>Africa April 2012</h1>
			<p class="hdr-text">Team Leader: Aaron Johnson</p>
			<p class="hdr-text">Contact: aaronjohnsonis@gmail.com</p>
		</div>
		<div class="team-raised">
			<h1 class="raised-amt">$212</h1>
			<p class="raised-text">Raised</p>
		</div>
	</div>
</div>

<div class="team-main-container">
	<div class="team-main">
		<div class="team-description">
			<div class="description-container">
				<p class="gray-text trip-info">Lorem ipsum dolor sit amet, euismod fabulas mea te, qui ei stet noster. An tempor repudiare laboramus vim, vim quas impetus suscipit no. Eum reque quando populo ut, pro probo delicata in. Ne vix noluisse imperdiet. Ad vim porro consul.</p>
			</div>
			<h3>Updates</h3>
			<p>Lorem ipsum dolor sit amet, euismod fabulas mea te, qui ei stet noster. An tempor repudiare laboramus vim, vim quas impetus suscipit no. Eum reque quando populo ut, pro probo delicata in. Ne vix noluisse imperdiet. Ad vim porro consul.</p>

		</div>
		<div class="team-side">
			<div class="side-box">
				<h2 class="side-hdr">Trip Details</h2>
				<p class="side-member">Destination: Ethiopia</p>
				<p class="side-member">Cost: $2,500</p>
				<p class="side-member">Depart: May 4, 2013</p>
				<p class="side-member">Return: May 13, 2013</p>
			</div>
			<div class="side-box-bottom">
				<h2 class="side-hdr">Team Members</h2>
				<p class="side-member">Pamela Johnson</p>
				<p class="side-member">Aaron Johnson</p>
			</div>
		</div>
	</div>
</div>

<div class="footer-container">
	<div class="footer">
		<h4 class="ft-app">MyGreatApp</h4>
	</div>
</div>
















<div class="status">
	<% if user_signed_in? %>
		Logged in as <%= current_user.email %>. 
		<%= link_to "Edit Profile", edit_user_registration_path %> |
		<%= link_to "Logout", destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to "Sign up", new_user_registration_path %> |
		<%= link_to "Login", new_user_session_path %>
	<% end %>
</div>

